{% set cls = cycler("odd", "even") %}
<section
  data-our-features-widget
  class="container flex flex-col justify-between bg-white mx-auto"
>
  {% for feature in data.widget.features %}
    {% if cls.next() === 'odd' %}
      <div
    class="px-4 mx-auto sm:max-w-xl md:max-w-full lg:w-full md:px-10 lg:px-8 lg:py-2 mt-8"
  >
        <div class="grid gap-2 lg:gap-10 lg:grid-cols-2">
          <div
        class="flex items-center justify-center -mx-4 ltr:lg:pl-4 rtl:lg:pr-4"
      >
            <div class="flex flex-col items-end p-4 lg:p-11">
              <img
            class="object-contain w-full h-full drop-shadow-md"
            src="{{apos.attachment.url(apos.attachment.first(feature._image))}}"
            alt="{{apos.attachment.first(feature._image)._alt}}"
/>
            </div>
          </div>
          <div
        class="flex flex-col justify-center ltr:xl:pr-0 rtl:xl:pl-0 lg:max-w-lg mx-auto"
      >
            <div class="lg:py-24 ltr:lg:pl-14 rtl:lg:pr-14">
              {%if feature.title.items[0]%}
                {% area feature, 'title'%}
                {%endif%}

                <p class="mt-4 body text-dark-gray2">{{feature.description}}</p>
              </div>
            </div>
          </div>
        </div>
      {% else %}
        <div
    class="px-4 mx-auto sm:max-w-xl md:max-w-full lg:w-full md:px-10 lg:px-8 lg:py-2 mt-8"
  >
          <div class="grid gap-2 lg:gap-10 lg:grid-cols-2">
            <div
        class="flex flex-col justify-center ltr:xl:pr-0 rtl:xl:pl-0 lg:max-w-lg mx-auto"
      >
              <div class="lg:py-24 ltr:lg:pr-14 rtl:lg:pl-14">
                {%if feature.title.items[0]%}
                  {% area
          feature, 'title'%}
                  {%endif%}

                  <p class="mt-4 body text-dark-gray2">{{feature.description}}</p>
                </div>
              </div>
              <div
        class="flex items-center justify-center -mx-4 ltr:lg:pl-4 rl:lg:pr-4 order-first lg:order-last"
      >
                <div class="flex flex-col items-end p-4 lg:p-11">
                  <img
            class="object-contain w-full h-full drop-shadow-md"
            src="{{apos.attachment.url(apos.attachment.first(feature._image))}}"
            alt="{{apos.attachment.first(feature._image)._alt}}"
/>
                </div>
              </div>
            </div>
          </div>

        {% endif %}
      {% endfor %}
    </section>